body{
    background-color: #fcf5f5f3;
    
}

ul{
    text-align: center;
    padding: 2rem;
}
li{
    color: white;
    display: inline;
    margin: 5px;
   font-family: Jamstreet Graffiti;
}

.logo{
    text-align: center;
    padding: 1rem;
}
/* a{
    font-family: Jamstreet Graffiti;
    text-decoration: none;
    color: white;
   
} */
h1{
    margin-top: 4rem;
    text-align: center;
    font-family: Jamstreet Graffiti;
    -webkit-text-stroke: 1px black;
    color: white;
    letter-spacing: 5px;
    text-shadow: black 1.5px 1.2px 1.5px;
}
h2{
    color: black;
    font-size: 7px;
    text-align: center;
}


footer{
    display:inline;
}

